.App {
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.heading {
  font-size: 30px;
  padding: 10px;
}

.image {
  width: 450px;
}

.inputStyle {
  text-align: center;
  margin: 5px;
  font-size: 25px;
}